<app-navbar></app-navbar>
<section class="uk-section uk-section-secondary" style="background: #4721CE">
  <div class="uk-container uk-container-small uk-text-center">
    <h1>Agenda</h1>
    <p class="uk-article-meta">
      Programação e conteúdo do evento
    </p>
  </div>
</section>
<!-- HERO -->
<section class="uk-section uk-article uk-section-small">
  <div class="uk-container uk-container">
    <h2 class="uk-text-bold uk-h1 uk-margin-remove-adjacent uk-margin-remove-top">O que você pode esperar das Palestras?</h2>
    <p class="uk-text-lead">Cases do mundo real apresentados por palestrantes com experiências práticas, que
      realmente participaram das soluções apresentadas.</p>
    <h2 class="uk-margin-left uk-margin-right uk-text-center">Agenda Dia 01, Sexta-feira 04 de Outubro</h2>
    <p class="uk-text-center"><i class="uk-text-meta dart-text ">
        * Sujeita a alterações sem aviso previo!
      </i></p>
    <div class="uk-flex uk-flex-center uk-margin-top">
        <table class="uk-table uk-margin-left uk-margin-right">
            <caption></caption>
            <thead>
                <tr>
                    <th width="17%"><span uk-icon="icon: clock"></span></th>
                    <th width="83%" class="uk-text-center">Programação Auditório Principal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h4 class="uk-margin-small-top">08h00 às 09h00</h4></td>
                    <td>
                        <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                            <div class="uk-card-body">
                                <h5 class="uk-card-title uk-margin-remove-bottom">
                                    Credenciamento e Welcome Coffee
                                </h5>
                              <p class="uk-margin-remove-top">Durante o credenciamento os participantes serão recebidos com um delicioso Welcome Coffee.</p>
                            </div>
                          </div>
                    </td>
                </tr>
                <tr>
                    <td><h4 class="uk-margin-small-top">09h00	às 09h30</h4></td>
                    <td>
                        <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                            <div class="uk-card-body">
                                <h5 class="uk-card-title uk-margin-remove-bottom">
                                    Abertura do Evento
                                </h5>
                              <p class="uk-margin-remove-top">Boas vindas por parte dos organizadores e patrocinadores e informações sobre funcionamento do evento.</p>
                            </div>
                          </div>
                    </td>
                </tr>
                <tr>
                    <td><h4 class="uk-margin-small-top">09h40	às	10h20</h4></td>
                    <td>
                        <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                            <div class="uk-card-body">
                                <h5 class="uk-card-title uk-margin-remove-bottom">
                                  Xamarin + App Center + Azure DevOps = 💜
                                </h5>
                              <p class="uk-margin-remove-top">Saiba como o App Center e o Azure DevOps em projetos Xamarin podem nos ajudar a antecipar problemas e alcançar uma melhoria contínua desde o desenvolvimento até após o lançamento do aplicativo.</p>
                            </div>
                            <div class="uk-card-footer">
                                <b>
                                  Letticia Nicoli
                                </b>
                            </div>
                          </div>
                    </td>
                </tr>
                <tr>
                    <td><h4 class="uk-margin-small-top">10h30	às	11h10</h4></td>
                    <td>
                        <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                            <div class="uk-card-body">
                                <h5 class="uk-card-title uk-margin-remove-bottom">
                                  Programando interfaces reativas com Reactive UI
                                </h5>
                              <p class="uk-margin-remove-top">
                                  Não faltam frameworks MVVM para a plataforma Xamarin, o ReactiveUI (RxUI) (http://reactiveui.net/) é mais um deles, mas o que o torna o interessante é que quem já está acostumada a programar utilizando Reactive Extensions (Rx) se sentirá em casa, com uma API mais intuitiva é possível criar interfaces gráficas responsiva, reativas e testáveis. Com suporte a praticamente todas plataformas do .NET, o ReactiveUI traz vários benefícios e você pode adotar somente as partes que julgar mais interessante.</p>
                            </div>
                            <div class="uk-card-footer">
                                <b>
                                  Mahmoud Ali
                                </b>
                            </div>
                          </div>
                    </td>
                </tr>
                <tr>
                    <td><h4 class="uk-margin-small-top">
                        11h20	às 12h00
                    </h4></td>
                    <td>
                        <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                            <div class="uk-card-body">
                                <h5 class="uk-card-title uk-margin-remove-bottom">
                                    Usando .NET ao nosso favor: Desde as coleções até threading
                                </h5>
                              <p class="uk-margin-remove-top">
                                  Com Xamarin você gera aplicações que acessam todo o poder das apis dos sistemas operacionais moveis. Contudo, deve-se sempre lembrar que o nosso programa ainda esta rodando em cima de um runtime .net! Tendo isso em mente, a minha palestra irá focar em como liberar o potencial das ferramentas que já vem na biblioteca base do .NET e comentar erros básicos que acometem aqueles que ignoram o runtime que utilizam.
                              </p>
                            </div>
                            <div class="uk-card-footer">
                                <b>
                                    William Barbosa
                                </b>
                            </div>
                          </div>
                    </td>
                </tr>
                 <tr>
                    <td><h4 class="uk-margin-small-top">12h00	às	14h00</h4></td>
                    <td>
                        <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                            <div class="uk-card-body">
                                <h5 class="uk-card-title uk-margin-remove-bottom">
                                    Almoço
                                </h5>
                              <p class="uk-margin-remove-top">Intervalo para o almoço livre.</p>
                            </div>
                          </div>
                    </td>
                </tr>
                <tr>
                    <td><h4 class="uk-margin-small-top">
                        14h00	às	14h40
                    </h4></td>
                    <td>
                        <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                            <div class="uk-card-body">
                                <h5 class="uk-card-title uk-margin-remove-bottom">
                                    Xamarin.Forms for Tizen
                                </h5>
                              <p class="uk-margin-remove-top">
                                  Como entregar os seus apps para Tizen e porque você desenvolvedor Xamarin precisa ficar de olho nele.
                              </p>
                            </div>
                            <div class="uk-card-footer">
                                <b>
                                    Juliano Custódio
                                </b>
                            </div>
                          </div>
                    </td>
                </tr>
                <tr>
                    <td><h4 class="uk-margin-small-top">
                        14h50	às	16h00
                    </h4></td>
                    <td>
                        <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                            <div class="uk-card-body">
                                <h5 class="uk-card-title uk-margin-remove-bottom">
                                  Reagindo a eventos com Firebase RealTime Database
                                </h5>
                              <p class="uk-margin-remove-top">
                                  Já precisou entregar comunição em tempo real no seu app ou no sistema?
   Se sim, sabe que temos algumas opções que entregam este desafio.. nesta palestra vamos ver como podemos o Realtime Database do Firebase funciona e utilizar a Rest API para reagir a eventos em tempo real. Vamos construir dois apps e ve-los se comunicando em tempo real utilizando o Firebase RealTime Database e os dados sendo atualizados em tempo real no console do Firebase.
                              </p>
                            </div>
                            <div class="uk-card-footer">
                                <b>
                                    Robson Soares Amorim
                                </b>
                            </div>
                          </div>
                    </td>
                </tr>
                <tr>
                    <td><h4 class="uk-margin-small-top">16h00	às	16h40</h4></td>
                    <td>
                        <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                            <div class="uk-card-body">
                                <h5 class="uk-card-title uk-margin-remove-bottom">
                                    Coffee-break e Networking
                                </h5>
                              <p class="uk-margin-remove-top">Uma pequena pausa para você esticar as pernas, tomar um café e conhecer novas pessoas ;)</p>
                            </div>
                          </div>
                    </td>
                </tr>
                <tr>
                    <td><h4 class="uk-margin-small-top">
                        16h40	às	17h20
                    </h4></td>
                    <td>
                        <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                            <div class="uk-card-body">
                                <h5 class="uk-card-title uk-margin-remove-bottom">
                                  Desafios de uma aplicação de trading utilizando Xamarin.Forms
                                </h5>
                              <p class="uk-margin-remove-top">
                                Nesse papo vamos falar um pouco sobre as dificuldades e desafios de se desenvolver uma plataforma de alta performance utilizando Xamarin.Forms, com um pouco de boas práticas de desenvolvimento e também o desafio de desenvolver um aplicativos para 4 plataformas reaproveitando o que é possível e desenvolvimento para MacOS (até então na sua versão beta)
                              </p>
                            </div>
                            <div class="uk-card-footer">
                                <b>
                                  Eduardo de Araujo Mingues
                                </b>
                            </div>
                          </div>
                    </td>
                </tr>
                <tr>
                    <td><h4 class="uk-margin-small-top">
                        17h30	às	18h10
                    </h4></td>
                    <td>
                        <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                            <div class="uk-card-body">
                                <h5 class="uk-card-title uk-margin-remove-bottom">
                                    Contribuindo com o código do Xamarin
                                </h5>
                              <p class="uk-margin-remove-top">
                                  Desde a aquisição pela Microsoft em 2016 todo o código do Xamarin e alguns de seus SDKs como Xamarin.Forms e mais recentemente Xamarin.Essentials estão abertos e disponíveis para contribuição. Muitas vezes para atendermos a um projeto precisariamos de algumas features que não estão disponíveis. Por que entãao nãao contribuir diretamente no código fonte e deixar nosso conhecimento auxiliar milhares de outros desenvolvedores? Nesta palestra irei demonstrar como podemos fazer o build dos SDKs em nossa máquina, entnder a estrutura do projeto e o que está disponível para que possamos enviar nossas contribuições de forma consistentes para serem aceitas
                              </p>
                            </div>
                            <div class="uk-card-footer">
                                <b>
                                    Pedro Henrique de Souza Jesus
                                </b>
                            </div>
                          </div>
                    </td>
                </tr>
                <tr>
                    <td><h4 class="uk-margin-small-top">18h10	às	18h30</h4></td>
                    <td>
                        <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                            <div class="uk-card-body">
                                <h5 class="uk-card-title uk-margin-remove-bottom">
                                    Encerramento
                                </h5>
                              <p class="uk-margin-remove-top">Agradecimentos e sorteios</p>
                            </div>
                          </div>
                    </td>
                </tr>
            </tbody>
          </table>
    </div>
    <h2 class="uk-margin-left uk-margin-right uk-text-center">Agenda Dia 02, Sábado 05 de Outubro</h2>
    <p class="uk-text-center"><i class="uk-text-meta dart-text ">
        * Sujeita a alterações sem aviso previo!
      </i></p>
      <div class="uk-flex uk-flex-center uk-margin-top">
        <table class="uk-table uk-margin-left uk-margin-right">
          <caption></caption>
          <thead>
              <tr>
                  <th width="17%"><span uk-icon="icon: clock"></span></th>
                  <th width="83%" class="uk-text-center">Programação Auditório Principal</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td><h4 class="uk-margin-small-top">08h00 às 09h00</h4></td>
                  <td>
                      <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                          <div class="uk-card-body">
                              <h5 class="uk-card-title uk-margin-remove-bottom">
                                  Credenciamento e Welcome Coffee
                              </h5>
                            <p class="uk-margin-remove-top">Durante o credenciamento os participantes serão recebidos com um delicioso Welcome Coffee.</p>
                          </div>
                        </div>
                  </td>
              </tr>
              <tr>
                  <td><h4 class="uk-margin-small-top">09h00	às 09h30</h4></td>
                  <td>
                      <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                          <div class="uk-card-body">
                              <h5 class="uk-card-title uk-margin-remove-bottom">
                                  Abertura do Evento
                              </h5>
                            <p class="uk-margin-remove-top">Boas vindas por parte dos organizadores e patrocinadores e informações sobre funcionamento do evento.</p>
                          </div>
                        </div>
                  </td>
              </tr>
              <tr>
                  <td><h4 class="uk-margin-small-top">09h40	às	10h20</h4></td>
                  <td>
                      <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                          <div class="uk-card-body">
                              <h5 class="uk-card-title uk-margin-remove-bottom">
                                Fabulous - Xamarin Forms com Elmish
                              </h5>
                            <p class="uk-margin-remove-top">Fabulous traz todo o poder do F# para o ecossistema Xamarin. F# é a linguagem funcional da Microsoft muito poderosa com foco em código seguro e expressivo. O Fabulous utiliza dessas vantagens da linguagem para implementar o modelo arquitetural Elmish (model-view-update). Basicamente um Redux para Xamarin. Isso na pratica significa ter um controle de estado de aplicação centralizado e previsível.</p>
                          </div>
                          <div class="uk-card-footer">
                              <b>
                                Lucas Teles
                              </b>
                          </div>
                        </div>
                  </td>
              </tr>
              <tr>
                  <td><h4 class="uk-margin-small-top">10h30	às	11h10</h4></td>
                  <td>
                      <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                          <div class="uk-card-body">
                              <h5 class="uk-card-title uk-margin-remove-bottom">
                                LiteDB - Um banco de dados NoSQL para o mundo mobile
                              </h5>
                            <p class="uk-margin-remove-top">
                                O LiteDB é uma solução de banco de dados orientado a documento totalmente open source e escrito em .NET. Por ser embedded e sem servidor o usuário mobile é seu principal público. Vamos conhecer os principais recursos e como aplicar em soluções Xamarin.</p>
                          </div>
                          <div class="uk-card-footer">
                              <b>
                                Maurício David
                              </b>
                          </div>
                        </div>
                  </td>
              </tr>
              <tr>
                  <td><h4 class="uk-margin-small-top">
                      11h20	às 12h00
                  </h4></td>
                  <td>
                      <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                          <div class="uk-card-body">
                              <h5 class="uk-card-title uk-margin-remove-bottom">
                                  MindSet de desenvolvimento de telas com xaml
                              </h5>
                            <p class="uk-margin-remove-top">
                                O objetivo dessa palestra é apresentar os passos que eu sigo para desenvolver uma tela do protótipo para o xaml. Eu já apresentei uma palestra com a mesma ideia em outro evento em BH, nesse evento eu fiz uma clone da versao mobile do Facebook(https://github.com/cacaxiq/Layout) e expliquei como eu cheguei no resultado apresentado.
                            </p>
                          </div>
                          <div class="uk-card-footer">
                              <b>
                                  Carlos Henrique Rocha Gabriel
                              </b>
                          </div>
                        </div>
                  </td>
              </tr>
               <tr>
                  <td><h4 class="uk-margin-small-top">12h00	às	14h00</h4></td>
                  <td>
                      <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                          <div class="uk-card-body">
                              <h5 class="uk-card-title uk-margin-remove-bottom">
                                  Almoço
                              </h5>
                            <p class="uk-margin-remove-top">Intervalo para o almoço livre.</p>
                          </div>
                        </div>
                  </td>
              </tr>
              <tr>
                  <td><h4 class="uk-margin-small-top">
                      14h00	às	14h40
                  </h4></td>
                  <td>
                      <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                          <div class="uk-card-body">
                              <h5 class="uk-card-title uk-margin-remove-bottom">
                                Building Offline Capabilities: Loading Initial Data (Causer)
                              </h5>
                            <p class="uk-margin-remove-top">
                                In mobile applications, data is a critical matter: It always has to be available and ready for your users. This is even more true for enterprise applications, if data takes a long time to load, sync or is only partially downloaded from the server, it will reflect very poorly on your product quality.
<br>
 I will discuss the challenge of the initial data load for offline-capable apps. Furthermore, I will demo an SQLite generation solution, that I have developed to handle large payloads of data in Xamarin applications.
                            </p>
                          </div>
                          <div class="uk-card-footer">
                              <b>
                                  Daniel John Amaral Causer
                              </b>
                          </div>
                        </div>
                  </td>
              </tr>
              <tr>
                  <td><h4 class="uk-margin-small-top">
                      14h50	às	16h00
                  </h4></td>
                  <td>
                      <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                          <div class="uk-card-body">
                              <h5 class="uk-card-title uk-margin-remove-bottom">
                                  Entendendo as novas ferramentas do Android - D8, R8 e AAPT2 - e melhorando o tempo de build dos apps
                              </h5>
                            <p class="uk-margin-remove-top">
                                O início de um novo projeto é sempre lindo: compila e faz deploy rápido. A medida que o mesmo vai crescendo, o ciclo de desenvolvimento começa a se tornar mais lento com builds mais demorados e desenvolvedores desanimados. Assim como um projeto evolui, as ferramentas de um ecossistema também, então, sempre que possível, acompanhar a evolução da plataforma que estamos trabalhando para não deixar o projeto obsoleto do “dia para a noite” é muito importante. Por falar em evolução, temos algumas novas ferramentas no Android, e elas podem nos ajudar a deixar o ciclo de desenvolvimento mais rápido, tornando o processo de build e deploy menos demorado. Nessa talk vamos conhecer um pouco sobre o D8, R8 e AAPT2 e ver como eles podem nos ajudar. Vamos entender o que é e como funciona cada uma destas ferramentas. Será que é simplesmente habilitar essas novas opções no Visual Studio e “correr para o abraço?
                            </p>
                          </div>
                          <div class="uk-card-footer">
                              <b>
                                  Ione Souza Junior
                              </b>
                          </div>
                        </div>
                  </td>
              </tr>
              <tr>
                  <td><h4 class="uk-margin-small-top">16h00	às	16h40</h4></td>
                  <td>
                      <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                          <div class="uk-card-body">
                              <h5 class="uk-card-title uk-margin-remove-bottom">
                                  Coffee-break e Networking
                              </h5>
                            <p class="uk-margin-remove-top">Uma pequena pausa para você esticar as pernas, tomar um café e conhecer novas pessoas ;)</p>
                          </div>
                        </div>
                  </td>
              </tr>
              <tr>
                  <td><h4 class="uk-margin-small-top">
                      16h40	às	17h20
                  </h4></td>
                  <td>
                      <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                          <div class="uk-card-body">
                              <h5 class="uk-card-title uk-margin-remove-bottom">
                                  Deep Dive into Xamarin.Forms Shell
                              </h5>
                            <p class="uk-margin-remove-top">
                                As part of the Xamarin.Forms 4 we get a brand new way easily and fast way to structure our Xamarin.Forms
                            </p>
                          </div>
                          <div class="uk-card-footer">
                              <b>
                                  Alejandro Ruiz
                              </b>
                          </div>
                        </div>
                  </td>
              </tr>
              <tr>
                  <td><h4 class="uk-margin-small-top">
                      17h30	às	18h10
                  </h4></td>
                  <td>
                      <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                          <div class="uk-card-body">
                              <h5 class="uk-card-title uk-margin-remove-bottom">
                                  Technical debt em Xamarin
                              </h5>
                            <p class="uk-margin-remove-top">
                                Analizaremos as causas e o impacto de technical debt em projetos Xamarin, como pagar a dívida, como identificá-la e como evitá-la.
                            </p>
                          </div>
                          <div class="uk-card-footer">
                              <b>
                                  Diego Bonilla
                              </b>
                          </div>
                        </div>
                  </td>
              </tr>
              <tr>
                  <td><h4 class="uk-margin-small-top">18h10	às	18h30</h4></td>
                  <td>
                      <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                          <div class="uk-card-body">
                              <h5 class="uk-card-title uk-margin-remove-bottom">
                                  Encerramento
                              </h5>
                            <p class="uk-margin-remove-top">Agradecimentos e sorteios</p>
                          </div>
                        </div>
                  </td>
              </tr>
          </tbody>
        </table>
      </div>
  </div>
</section>
<app-tickets></app-tickets>
