<section class="uk-padding-large">
  <div class="uk-padding"></div>
    <div class="uk-container uk-container uk-text-center">
      <h1 class="custom-heading">Organizadores</h1>
      <p class="uk-text-large dart-text">
        O Xamarin Summit 2019 é organizado com muito ❤️ por um time incrível de pessoas.
      </p>
      <div class="uk-flex uk-flex-center"  uk-grid="masonry: true">
        <div class="uk-width-1-4@m uk-width-1-1@s">
              <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                <div class="uk-card-media-top">
                  <img width="100%" src="../../../assets/img/team/magoo.jpeg" alt="Alexandre Santos Costa" />
                </div>
                <div class="uk-card-body">
                  <h5 class="uk-card-title uk-margin-remove-bottom">
                      Alexandre Santos Costa
                  </h5>
                  <span class="uk-text-meta dart-text uk-text-center">Chapter Lead at ArcTouch - Mobile & Connected Experiences</span>
                </div>
               <div class="uk-card-footer">
                    <span>
                        <a href="http://localhost:4200/past/2018/index.html" target="_blank">
                          <span class="dart-text uk-margin-right	" uk-icon="linkedin"></span>
                        </a>
                        <a href="https://twitter.com/@magoolation" target="_blank">
                          <span class="dart-text uk-margin-right	" uk-icon="twitter"></span>
                        </a>
                     </span>
                </div>
              </div>
        </div>
        <div class="uk-width-1-4@m uk-width-1-1@s">
            <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
              <div class="uk-card-media-top">
                <img width="100%" src="../../../assets/img/team/angelo.jpeg" alt="Angelo Belchior" />
              </div>
              <div class="uk-card-body">
                <h5 class="uk-card-title uk-margin-remove-bottom">
                    Angelo Belchior
                </h5>
                <span class="uk-text-meta dart-text uk-text-center">Cloud Solutions Architect. Microsoft MVP em duas categorias – AI e Developer Technologies</span>
              </div>
             <div class="uk-card-footer">
                  <span>
                      <a href="https://www.linkedin.com/in/angelobelchior/" target="_blank">
                        <span class="dart-text uk-margin-right	" uk-icon="linkedin"></span>
                      </a>
                      <a href="https://twitter.com/@angelobelchior" target="_blank">
                        <span class="dart-text uk-margin-right	" uk-icon="twitter"></span>
                      </a>
                   </span>
              </div>
            </div>
      </div>
      <div class="uk-width-1-4@m uk-width-1-1@s">
          <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
            <div class="uk-card-media-top">
              <img width="100%" src="../../../assets/img/team/oberdan.jpeg" alt="Angelo Belchior" />
            </div>
            <div class="uk-card-body">
              <h5 class="uk-card-title uk-margin-remove-bottom">
                  Oberdan Bitencourt Ferreira
              </h5>
              <span class="uk-text-meta dart-text uk-text-center">Chapter Lead at ArcTouch - Mobile & Connected Experiences</span>
            </div>
           <div class="uk-card-footer">
                <span>
                    <a href="https://www.linkedin.com/in/oberdanf/" target="_blank">
                      <span class="dart-text uk-margin-right	" uk-icon="linkedin"></span>
                    </a>
                    <a href="https://twitter.com/@OberdanFerreira" target="_blank">
                      <span class="dart-text uk-margin-right	" uk-icon="twitter"></span>
                    </a>
                 </span>
            </div>
          </div>
    </div>
    <div class="uk-width-1-4@m uk-width-1-1@s">
        <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
          <div class="uk-card-media-top">
            <img width="100%" src="../../../assets/img/team/william.jpeg" alt="Angelo Belchior" />
          </div>
          <div class="uk-card-body">
            <h5 class="uk-card-title uk-margin-remove-bottom">
                William S Rodriguez
            </h5>
            <span class="uk-text-meta dart-text uk-text-center">Master Software Engineer at ArcTouch - Mobile & Connected Experiences</span>
          </div>
         <div class="uk-card-footer">
              <span>
                  <a href="https://www.linkedin.com/in/willbuildapps/" target="_blank">
                    <span class="dart-text uk-margin-right	" uk-icon="linkedin"></span>
                  </a>
                  <a href="https://twitter.com/@willbuildapps" target="_blank">
                    <span class="dart-text uk-margin-right	" uk-icon="twitter"></span>
                  </a>
               </span>
          </div>
        </div>
  </div>
      </div>
    </div>
    <div class="uk-padding"></div>
  </section>
