<!--FOOTER-->
<footer class="uk-section-secondary" style="background-color: #4721CE">
  <div class="uk-container uk-section">
    <div class="uk-grid uk-child-width-1-3@l" data-uk-grid>
      <div>
        <h4>Xamarin Summit 2019</h4>
        <ul class="uk-list uk-list-bullet">
          <li>
            <a href="mailto:ola@xamarinsummit.com.br" title="Informações sobre Parceira e Patrocínio">Informações sobre
              Parcerias e Patrocínio</a>
          </li>
          <li>
            <a href="mailto:ola@xamarinsummit.com.br" title="Contato">Contato</a>
          </li>
          <li>
            <a href="http://bit.ly/xamarin-summit-2019-inscricao" title="Inscrições">Inscrições</a>
          </li>
          <li>
            <a href="/code-of-conduct" title="Código de Conduta">Código de Conduta</a>
          </li>
        </ul>
      </div>

      <div>
        <h4>Edições anteriores</h4>
        <ul class="uk-list uk-list-bullet">
          <li>
            <a href="/past/2018/index.html"  target="blank" title="2018">2018</a>
          </li>
          <li>
              <a href="/past/2017/index.html" target="blank" title="2017">2017</a>
          </li>
          <li>
            <a href="/past/2016/index.html" target="blank" title="2016">2016</a>
          </li>
        </ul>
      </div>
      <div>
        <h4>Social Media</h4>
        <a href="https://www.facebook.com/XamarinSummit/" class="uk-icon-button  uk-margin-small-right" data-uk-icon="facebook"></a>
        <a href="https://twitter.com/XamarinSummit/" class="uk-icon-button  uk-margin-small-right" data-uk-icon="twitter"></a>
        <a href="https://www.instagram.com/XamarinSummitBR/" class="uk-icon-button" data-uk-icon="instagram"></a>
      </div>
    </div>
  </div>
  <div class="uk-section uk-section-xsmall" style="background-color: rgba(0,0,0,0.15)">
    <div class="uk-container">
      <div class="uk-grid uk-child-width-1-1@s uk-text-center" data-uk-grid>
      </div>
    </div>
  </div>
</footer>
<!--/FOOTER-->
