<app-navbar></app-navbar>
<section class="uk-section uk-section-secondary" style="background: #4721CE">
    <div class="uk-container uk-container-small uk-text-center">
      <h1>Desconto e Sugestões de Hospedagem</h1>
      <p class="uk-article-meta">
          Atualizado em 16 de agosto de 2019
      </p>
    </div>
  </section>
<section class="uk-section  uk-article uk-text-center">
  <div>
      Agencia oficial do evento
      <p class="uk-padding">

          <img src="/assets/img/loding/destina.png" alt="" style="width: 260px"/>
      </p>
  </div>
  <div class="uk-container uk-container">
      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
          <div class="uk-card-media-left uk-cover-container">
            <img src="/assets/img/loding/mariadomar.jpg" alt="" uk-cover>
              <canvas width="600" height="400"></canvas>
          </div>
          <div>
              <div class="uk-card-body uk-text-left">
                  <h3 class="uk-card-title">Hotel Maria do Mar</h3>
                  <p>Tarifas especiais para participantes do Xamarin Summit SOMENTE PARA <b>reserva por telefone, <a href="mailto:detinavt@gmail.com" target="blank">e-mail</a> ou whatsapp: <a href=" http://api.whatsapp.com/send?1=pt_BR&phone=5548999608574&text=Consulta reserva com desconto para o evento #XamarinSummit em Floripa - CESUSC" target="blank">+55 48 99960-8574</a></b></p>

                      <ul class="uk-list uk-list-divider">
                        <li>SINGLE R$171,00</li>
                        <li>DUPLO R$190,00</li>
                        <li>TRIPLO R$238,00</li>
                      </ul>

                  <p>Para mais informações sobre o hotel acesse: <a href="https://mariadomar.com.br/" target="blank">https://mariadomar.com.br/</a> </p>
              </div>
          </div>
      </div>
      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
          <img src="/assets/img/loding/quinta.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body uk-text-left">
                <h3 class="uk-card-title">Quinta da Bela Vista</h3>
                <p>Tarifas especiais para participantes do Xamarin Summit SOMENTE PARA <b>reserva por telefone, <a href="mailto:destinavt@gmail.com" target="blank">e-mail</a> ou whatsapp: <a href=" http://api.whatsapp.com/send?1=pt_BR&phone=5548999608574&text=Consulta reserva com desconto para o evento #XamarinSummit em Floripa - CESUSC" target="blank">+55 48 99960-8574</a></b></p>
                <p><b>Apartamentos com Sacada duplos</b></p>
                    <ul class="uk-list uk-list-divider">
                      <li>SINGLE R$264,00</li>
                      <li>DUPLO R$264,00</li>
                      <li>TRIPLO R$300,00</li>
                    </ul>
                    <p><b>Chalés completos</b></p>
                    <ul class="uk-list uk-list-divider">
                      <li>SINGLE R$310,00</li>
                      <li>DUPLO R$310,00</li>
                      <li>TRIPLO R$376,00</li>
                      <li>QUADRUPLO R$440,00</li>
                    </ul>
                <p>Para mais informações sobre o hotel acesse: <a href="http://quintadabelavista.com.br/" target="blank">http://quintadabelavista.com.br/</a> </p>
            </div>
        </div>
    </div>
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-card-media-left uk-cover-container">
          <img src="/assets/img/loding/mardentro.jpg" alt="" uk-cover>
          <canvas width="600" height="400"></canvas>
      </div>
      <div>
          <div class="uk-card-body uk-text-left">
              <h3 class="uk-card-title">Pousada Mar de Dentro</h3>
              <p>Tarifas especiais para participantes do Xamarin Summit SOMENTE PARA <b>reserva por telefone, <a href="mailto:destinavt@gmail.com" target="blank">e-mail</a> ou whatsapp: <a href=" http://api.whatsapp.com/send?1=pt_BR&phone=5548999608574&text=Consulta reserva com desconto para o evento #XamarinSummit em Floripa - CESUSC" target="blank">+55 48 9996-08574</a></b></p>

                  <ul class="uk-list uk-list-divider">
                    <li>SINGLE R$160,00</li>
                    <li>DUPLO R$230,00</li>
                    <li>TRIPLO R$300,00</li>
                  </ul>

              <p>Para mais informações sobre o hotel acesse: <a href="https://www.pousadamardedentro.com.br/" target="blank">https://www.pousadamardedentro.com.br/</a> </p>
          </div>
      </div>
  </div>
  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <img src="/assets/img/loding/sesc.png" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body uk-text-left">
            <h3 class="uk-card-title">SESC</h3>
            <p>Tarifas especiais para participantes do Xamarin Summit SOMENTE PARA <b>reserva por telefone, <a href="mailto:destinavt@gmail.com" target="blank">e-mail</a> ou whatsapp: <a href=" http://api.whatsapp.com/send?1=pt_BR&phone=5548999608574&text=Consulta reserva com desconto para o evento #XamarinSummit em Floripa - CESUSC" target="blank">+55 48 9996-08574</a></b></p>
            <p>*Café da manhã e jantar -mínimo 2 diarias</p>
                <ul class="uk-list uk-list-divider">
                  <li>SINGLE R$225,00</li>
                  <li>DUPLO R$450,00</li>
                  <li>TRIPLO R$675,00</li>
                </ul>
            <p>Para mais informações sobre o hotel acesse: <a href="https://sesc-sc.com.br/hotelsescemcacupe/" target="blank">https://sesc-sc.com.br/hotelsescemcacupe/</a> </p>
        </div>
    </div>
</div>
<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
  <div class="uk-card-media-left uk-cover-container">
    <img src="/assets/img/loding/mercure.jpg" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
  </div>
  <div>
      <div class="uk-card-body uk-text-left">
          <h3 class="uk-card-title">Mercure Convention</h3>
          <p>Tarifas especiais para participantes do Xamarin Summit SOMENTE PARA <b>reserva por telefone, <a href="mailto:destinavt@gmail.com" target="blank">e-mail</a> ou whatsapp: <a href=" http://api.whatsapp.com/send?1=pt_BR&phone=5548999608574&text=Consulta reserva com desconto para o evento #XamarinSummit em Floripa - CESUSC" target="blank">+55 48 9996-08574</a></b></p>
          <p>*Café da manhã e jantar -mínimo 2 diarias</p>
              <ul class="uk-list uk-list-divider">
                <li>STANDARD R$223,00 + 2,5% ISS</li>
                <li>STANDARD DUPLO R$273,00 + 2,5% ISS</li>
                <li>SUPERIOR R$257,00 + 2,5% ISS</li>
                <li>SUPERIOR DUPLO R$307,00 + 2,5% ISS</li>
              </ul>
          <p>Para mais informações sobre o hotel acesse: <a href="https://www.accorhotels.com/pt-br/hotel-5693-mercure-florianopolis-convention-hotel/index.shtml" target="blank">https://www.accorhotels.com/pt-br/hotel-5693-mercure-florianopolis-convention-hotel/index.shtml</a> </p>
      </div>
  </div>
</div>
  </div>
</section>
