.header {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(29,28,28,1) 100%);
}

.about, .bgcolor {
    background: rgb(123,5,222);
    background: linear-gradient(180deg, rgba(123,5,222,1) 0%, rgba(254,62,132,1) 100%);
}

.text-white {
    color:#FFF !important;
}

.uk-heading-primary {
    font-weight: 500;
    color:#FFF;
}

.tickets-section {
    background-color:#EC0F86;
}

.tickets-button {
    background-color: #1D1C1C !important;
    color: #FFF !important;
}

.custom-heading {
    color:#EC0F86 !important;
}

.leaders {
    background-color: #EC0F86;
}

.black-background {
    background-color: #1D1C1C !important;
}

.dart-text {
    color: #5B6065 !important;
}